In [8]:
import numpy as np
import pandas as pd

In [9]:
from IPython.core.interactiveshell import InteractiveShell

# to make jupyter print all outputs, not just the last one
InteractiveShell.ast_node_interactivity = "all" 

# to pretty print pandas df and be able to copy them over (e.g. to ppt slides)
from IPython.core.display import HTML

In [10]:
import csv

deleted_rows_count = 0  # Variable to keep track of the number of deleted rows

# Open the CSV file with 'errors' set to 'ignore' to handle decoding issues
with open("car_prices.csv", 'r', errors='ignore') as file:
    
    # Use csv.reader to read the CSV file
    csv_reader = csv.reader(file)
    
    # Initialise lists to store valid lines and deleted lines
    valid_lines = []
    deleted_lines = []
    
    # Iterate through each line in the CSV file
    for line in csv_reader:
        if len(line) == 16:
            # If the line has 16 fields, add it to the list of valid lines
            valid_lines.append(line)
        else:
            # If the line has a different number of fields, add it to the list of deleted lines
            deleted_lines.append(line)
            deleted_rows_count += 1  # Increment the count of deleted rows

# Create a DataFrame from the valid lines
prices_df = pd.DataFrame(valid_lines[1:], columns=valid_lines[0])

# Print the number of deleted rows
print(f"Number of deleted rows: {deleted_rows_count}")

Number of deleted rows: 23

In [11]:
print(f"There are {prices_df.shape[0]} rows and {prices_df.shape[1]} columns in the dataset")

There are 558808 rows and 16 columns in the dataset

In [12]:
# Check top of file
prices_df.head()
# Check bottom of file
prices_df.tail()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5,16639,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5,9393,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558803,2015,Kia,K900,Luxury,Sedan,,knalw4d4xf6019304,in,4.5,18255,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558804,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5,54393,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558805,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558806,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558807,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [13]:
# Adding 'id' as a column header
prices_df.insert(0, 'id', prices_df.index)

# Display the modified DataFrame
print(prices_df)

            id  year    make                model         trim       body  \
0            0  2015     Kia              Sorento           LX        SUV
1            1  2015     Kia              Sorento           LX        SUV
2            2  2014     BMW             3 Series   328i SULEV      Sedan
3            3  2015   Volvo                  S60           T5      Sedan
4            4  2014     BMW  6 Series Gran Coupe         650i      Sedan
...        ...   ...     ...                  ...          ...        ...
558803  558803  2015     Kia                 K900       Luxury      Sedan
558804  558804  2012     Ram                 2500  Power Wagon   Crew Cab
558805  558805  2012     BMW                   X5    xDrive35d        SUV
558806  558806  2015  Nissan               Altima        2.5 S      sedan
558807  558807  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state condition odometer   color  \
0         automatic  5xyktca69fg566472    ca         5    16639   white
1         automatic  5xyktca69fg561319    ca         5     9393   white
2         automatic  wba3c1c51ek116351    ca       4.5     1331    gray
3         automatic  yv1612tb4f1310987    ca       4.1    14282   white
4         automatic  wba6b2c57ed129731    ca       4.3     2641    gray
...             ...                ...   ...       ...      ...     ...
558803               knalw4d4xf6019304    in       4.5    18255  silver
558804    automatic  3c6td5et6cg112407    wa         5    54393   white
558805    automatic  5uxzw0c58cl668465    ca       4.8    50561   black
558806    automatic  1n4al3ap0fc216050    ga       3.8    16658   white
558807    automatic  1ftfw1et2eke87277    ca       3.4    15008    gray

       interior                                             seller    mmr  \
0         black                            kia motors america, inc  20500
1         beige                            kia motors america, inc  20800
2         black             financial services remarketing (lease)  31900
3         black                            volvo na rep/world omni  27500
4         black             financial services remarketing (lease)  66000
...         ...                                                ...    ...
558803    black                                   avis corporation  35300
558804    black                                    i -5 uhlmann rv  30200
558805    black             financial services remarketing (lease)  29800
558806    black  enterprise vehicle exchange / tra / rental / t...  15100
558807     gray                   ford motor credit company,llc pd  29600

       sellingprice                                 saledate
0             21500  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1             21500  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2             30000  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3             27750  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4             67000  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...             ...                                      ...
558803        33000  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558804        30800  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558805        34000  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558806        11100  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558807        26700  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[558808 rows x 17 columns]

In [14]:
# Drop duplicates
prices_df.drop_duplicates(subset=['id']).shape[0] == prices_df.shape[0]

True

In [16]:
prices_df = prices_df.set_index("id")
prices_df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
id,,,,,,,,,,,,,,,,
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5,16639,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5,9393,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)